# .NET Core build directories
**/bin/
**/obj/

# ASP.NET Core secrets
secrets.json

# User-specific files
.vscode/
.idea/

# Windows Installer
Thumbs.db
ehthumbs.db

# npm and Yarn directories
node_modules/

# Environment variables
.env

# Logs
*.log

# Dependency directories
package-lock.json
yarn.lock
